.btn {
    --h: 40px;
    --w: 280px;
    --bdw: 2px;
    display: block;
    height: var(--h);
    width: var(--w);
    margin: auto;
    padding: 0;
    text-align: center;
    line-height: calc(var(--h) - 2 * var(--bdw));
    font-size: 14px;
    font-weight: bold;
    border: var(--bdw) solid transparent;
    border-radius: calc(var(--h) / 2);
}

.btn__dark {
    background: #ff4e50;
    color: #fff;
}

.btn__dark:hover {
    color: #ff4e50;
    background: #fff;
}

.btn-partners {
    display: block;
    width: 280px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
}

.btn-partners__light {
    background: #fff;
    border: 2px solid #ff4e50;
    color: #ff4e50;
}

.btn-partners__light:hover {
    color: #ffffff;
    background: #ff4e50;
}