.hero {
    min-height: 540px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("../photo/offer.jpg");
    padding: 20px 20px 138px;
}

@media (min-width: 480px) {
.hero {
    min-height: 700px;
    }
}

@media (min-width: 769px) {
.hero {
    
    }
}