.partner__img-wrp {
    position: relative;
    margin: 0 auto;
    --s: 122px;
    height: var(--s);
    width: var(--s);
}

.partner__img {
    border-radius: 50%;
}

.partner__icon-wrp {
    position: absolute;
    --s: 40px;
    --bdw: 4px;
    height: var(--s);
    width: var(--s);
    border-radius: 50%;
    background: #ff4e50;
    border: var(--bdw) solid #fff;
}

.partner__icon {
    margin: 0 auto;
}